.rates {
    padding: 96px 0;
    background-color: var(--primary);
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 863px;
    margin: 0 auto;
}

.title {
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -2px;
    margin-bottom: 40px;
}

.tabsHeader {
    display: flex;
    align-items: center;
    background-color: rgba(var(--secondary-rgb), .4);
    padding: 4px;
    border-radius: 4px;
    max-width: 413px;
    width: 100%;
    margin-bottom: 44px;
    position: relative;
    gap: 0;

}

.tab {
    font-size: 24px;
    text-transform: uppercase;
    color: var(--action-primary);
    width: 50%;
    text-align: center;


    cursor: pointer;
    padding: 12px 24px;
    border-radius: 8px;
    transition: color 0.3s ease;
    background-color: transparent;
    position: relative;
    z-index: 2;
    flex: 1;
}

.tabsContainer {
    display: flex;
    /* align-items: center; */
    height: 100%;
    width: 100%;
    align-items: stretch;
    gap: 15px;
}

.contentContainer {
    padding: 24px;
    border: 1px solid var(--secondary);
    border-radius: 8px;
    max-width: 413px;
    width: 100%;
    /* height: 100%; */
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: space-between;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contentContainer:hover,
.contentContainer:active,
.contentContainer:focus {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
        0 0 15px rgba(136, 153, 255, 0.3);
}



.activeTab {
    color: var(--black);
    font-weight: 600;
}

.tabIndicator {
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(50% - 4px);
    height: calc(100% - 8px);
    background-color: var(--action-primary);
    border-radius: 8px;
    transition: transform 0.3s ease;
    z-index: 1;
}

.tabTitle {
    font-size: 32px;
    letter-spacing: -2px;
    margin-bottom: 56px;
}

.list {
    margin-bottom: 40px;
}

.listItem {
    font-size: 16px;
    padding: 8px 0;
    position: relative;
    margin-left: 22px;
    font-weight: 400;
}

.listItem::after {
    content: '';
    position: absolute;
    display: block;
    background: url('/images/rates-mark.svg') no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    top: 12px;
    left: -22px;
    ;
}

.listItem::before {
    content: '';
    position: absolute;
    left: -46px;
    width: calc(100% + 70px);
    bottom: -1px;
    height: 1px;
    border-bottom: 1px dashed rgba(var(--white-rgb), .2);
    overflow: hidden;
}

.datePrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.price {
    font-size: 35px;
    position: relative;
    letter-spacing: -2px;
}

.discount {
    position: absolute;
    font-size: 18px;
    color: var(--green);
    text-transform: uppercase;
    letter-spacing: -2px;
    top: 0;
    right: -44px;
}

.date {
    position: relative;
}

.select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    padding: 8px 33px 8px 8px;
    border-radius: 4px;
    background-color: rgba(var(--white-rgb), .2);
    font-size: 16px;
    font-weight: 400;
    color: var(--white);

}

.date::before {
    content: '';
    position: absolute;
    display: block;
    background: url('/images/arrow-down.svg') no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    top: 4px;
    right: 5px;
    pointer-events: none;
}

.select::-ms-expand {
    display: none;
}

.option {
    color: var(--black);
}

.btn {
    width: 100%;
    padding: 8px 124px;
    background-color: var(--action-primary);
    border-radius: 3px;
}


.btnTitle {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--primary);
    display: block;
    font-weight: 500;
}

.btnSupTitle {
    font-size: 12px;
    color: rgba(var(--primary-rgb), .56);
    font-weight: 400;
}

.active {
    background-color: var(--secondary);
}



@media (max-width: 950px) {

    .rates {
        padding: 181px 0 45px;
    }

    .title {
        font-size: 28px;
        margin-bottom: 24px;
    }

    .container {
        justify-content: center;
        align-items: center;
    }

    .tabsHeader {
        margin-bottom: 24px;
    }

    .contentContainer {
        padding: 16px;
    }

    .tabsContainer {
        flex-direction: column;
        align-items: center;
    }

    .tabTitle {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 24px;
    }

    .listItem::before {

        width: calc(100% + 53px);
        left: -38px;
    }

    .btn {
        padding: 8px;
    }
}