.footer{
    padding: 28px 0 45px;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    position: relative;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1288px;
}

.title{
    padding-top: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(var(--white-rgb), .4);
}

.navContainer{
    display: flex;
    gap: 24px;
}

.navContainer a{
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(var(--white-rgb), .67);
}

.line{
    width: 100%;
    height: 5px;
    background-color: var(--secondary);
    position: absolute;
    bottom: 0;

}

.copy{
    color: rgba(var(--white-rgb), .5);
    font-weight: 400;
}

.logo{
    margin-bottom: 180px;
}

.first{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}



.lineSection{
    background-color: rgba(var(--white-rgb), .3);
    position: absolute;
    top: 0;
    width: 1px;                  
    height: 100%;
    right: calc(50% - 220px);
}



@media (max-width: 1000px) {

    .footer{
        padding: 40px 0 25px;
    }

    .container{
        flex-direction: column;
        align-items: start;
    }

    .first{
        flex-direction: initial;
        justify-content: space-between;
        width: 60%;
        margin-bottom: 78px;
    }

    .navContainer{
        flex-direction: column;
    }

    .lineSection{
        width: 100%;
        height: 1px;
        top: calc(59% - 1px);
        right: 0;
    }

    .logo{
        margin-bottom: 81px;
    }
}

@media (max-width: 1000px) {

     .first{
        width: 100%;
    }
}