.hero{
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    padding: 160px 0 194px;
}

.container{
    display: flex;
    /* justify-content: space-between; */
}

.mainInfo{
    max-width: 630px;
    width: 100%;
}

.title{
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -2px;
}

.subtitle{
    font-size: 16px;
    font-weight: 400;
    color: rgba(231, 247, 248, .8);
    max-width: 565px;
    width: 100%;
    padding-top: 12px;
}

.inputContainer{
    margin-top: 24px;
    position: relative;
    max-width: 500px;
}

.input{
    width: 100%;
    display: block;
    padding: 20px 119px 22px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 20px;
    background-color: var(--input-secondary);
}

.input::placeholder {
  text-transform: uppercase;
}

.btn{
    padding: 16px 24px;
    position: absolute;
    top:4px;
    right: 4px;
    line-height: 20px;
}

.supText{
    color: rgba(var(--white-rgb), .3);
    padding-top: 12px;
    font-weight: 400;
    display: block;
}

.media{
    position: relative; 
    width: 100%;       
    max-width: 469px;
    max-height: 209px;
    aspect-ratio: 469 / 209;  
}




@media (max-width: 950px) {
    .hero{
        padding: 40px 0 100px;
    }    

    .title{
        font-size: 35px;
    }

    .container{
        flex-direction: column-reverse;
        align-items: center;
    }

    .input{
        padding: 15px 100px 17px 16px;
        font-size: 14px;
    }

    .btn{
        padding: 11px 24px;
        font-size: 14px;
    }

    .media {
        width: 100%;
        object-fit: cover;
        margin: 0 40px 10px;
        padding: 10px;
    }
}