

.about{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 56px 0 92px;
}

.svgContainer{
    position: absolute;
    width: 44.4%;
    height: 70px;
    top: -40px;
    left: 0;
}



.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text{
    max-width: 413px;
    width: 100%;
}

.title{
    font-weight: 700;
    font-size: 44px;
    text-transform: uppercase;
    letter-spacing: -2px;
    color: var(--black);
    margin-bottom: 40px;
}

.subTitle{
    font-weight: 400;
    color: var(--primary);
    opacity: .8;
    font-size: 16px;

}

.text p:first-of-type {
  margin-bottom: 20px;
}

.form{
    padding: 34px 64px 40px;
    background-color: var(--secondary);
    border-radius: 4px;
    max-width: 631px;
    width: 100%;
}

.formTitle{
    font-size: 28px;
    text-align: center;
    margin-bottom: 32px;
    max-width: 502px;
    width: 100%;
    font-weight: 500;
    line-height: 36px;
    margin: 0 auto;
    
}


.inputContainer{
    margin-top: 24px;
    position: relative;
    max-width: 500px;
    width: 100%;
}

.input{
    width: 100%;
    display: block;
    padding: 20px 179px 22px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    background-color: var(--input-primary);
    color:rgba(var(--white-rgb), .64);
    font-weight: 500;
}

.input::placeholder {
    text-transform: uppercase;
    color:var(--white);
    opacity: .34;
    font-weight: 500;
}

.btn{
    padding: 16px 24px;
    position: absolute;
    top:4px;
    right: 4px;
    line-height: 20px;
}




@media (max-width: 950px) {

    .about{
        padding: 24px 0 133px;
    }
    .container{
        flex-direction: column;
        position: relative;
    }

    .svgContainer img {
        width: 100%;
        height: 100%;
    }
    .title{
        font-size: 28px;
        margin-bottom: 20px;
    }

    .form{
        position: absolute;
        max-width: 356px;
        width: 100%;
        padding: 16px;
        bottom: calc(-50% - 141px);
    }

    .formTitle{
        font-size: 20px;
        margin-bottom: 20px;
        line-height: 28px;
    }

    .inputContainer{
        position: static;

    }

    .input{
        padding: 15px 25px 16px; 
        margin-bottom: 8px;
        font-size: 14px;
    }
    .btn{
        position: static;
        padding: 16px 103px;
        width: 100%;
    }
}