.numbers {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 65px 0 61px;
}

.svgContainer {
    position: absolute;
    width: 44.4%;
    height: 70px;
    top: -40px;
    left: 0;
}


.container {
    display: flex;
    justify-content: space-between;
    gap: 156px;
}

.title {
    font-weight: 700;
    font-size: 44px;
    letter-spacing: -2px;
    text-transform: uppercase;
    padding-bottom: 4px;
    color: var(--black);
}

.subTitle {
    letter-spacing: -1px;
    color: rgba(var(--black-rgb), .5);
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* gap:130px */
}

.statsTitle {
    color: rgba(var(--black-rgb), .8);
    text-transform: uppercase;
    margin-bottom: 8px;
}

.statsInfo {
    font-size: 60px;
    text-transform: uppercase;
    color: var(--secondary);
    letter-spacing: -2px;
}

@media (max-width: 1150px) {

    .container {
        flex-direction: column;
        gap: 40px;
    }
}


@media (max-width: 950px) {

    .numbers {
        padding: 24px 0 48px;
    }

    .svgContainer img {
        width: 100%;
        height: 100%;
    }

    .stats {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }

    .stats>div {
        flex: 0 0 40%;
        width: 40%;
    }

    .title {
        font-size: 28px;

    }

    .statsTitle {
        font-size: 14px;
        font-weight: 400;
    }

    .statsInfo {
        font-size: 35px;

    }
}