.swiper {
    width: 100vw;
    padding-bottom: 30px;
}

.swiper-slide {
    --cut: 35px;
    /* text-align: center; */
    font-size: 18px;
    background: var(--secondary);
    width: 299px;
    height: 208px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    border-radius: 4px;
    clip-path: polygon(0 0,
            calc(100% - var(--cut)) 0,
            100% var(--cut),
            100% 100%,
            0 100%);
    padding: 16px 16px 13px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide:last-child {
    margin-right: 20dvw;
}

.swiper-scrollbar {
    top: 20px;
}

.mySwiper .swiper-scrollbar {
    height: 6px;
    background-color: #434F70;
    border-radius: 56px;
    max-width: 955px;
    left: 50dvw;
    transform: translateX(-42dvw);
    width: 100%;
}

.mySwiper .swiper-scrollbar-drag {
    background-color: #6073A1;
    border-radius: 3px;
    height: 100%;
    width: 100%;
}


@media (max-width: 1280px) {
    .mySwiper .swiper-scrollbar {
        left: 50dvw;
        transform: translateX(-50dvw);
    }
}

@media (max-width: 970px) {
    .mySwiper .swiper-scrollbar {
        max-width: 400px;
        left: 40%;
        transform: translateX(-30%);
    }
}

@media (max-width: 550px) {

    .mySwiper .swiper-scrollbar {
        max-width: 311px;
        left: 47%;
        transform: translateX(-50%);
    }

}